body{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1--FKW4nZc6jkrOTdUpkE-nA7ivn6ufgeUw:https://i.pinimg.com/originals/9a/57/03/9a5703ce1cf329e6c3a507f009b1371d.jpg&usqp=CAU);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  }

  h1{
    color: rgb(64, 14, 245);
    text-align: center;
    border: 4px solid white; 
  margin: auto;
  width: 30%;
  }

a{
  font-family: 'Mochiy Pop P One', sans-serif;
  color: white;
}

.resize{
  width:180px ;
  height:auto ;
  margin-right: auto;
  display: block;
  margin-left: auto;
}

p{
  color: blueviolet;
  font-size: 50px; 
  font-family: 'Balsamiq Sans', cursive;
}
